@import "fonts";
@import "libs";
// @import "base";
@import "vars";
@import "media";

.grid {
  display: grid;
}
.text-center {
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $gutter;
}
.main-header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark;
    opacity: 0.92;
  }
}
.header-content {
  z-index: 1;
  color: white;
  text-align: center;
  padding: 60px $gutter;
  h1 {
    font-size: 60px;
    font-family: intro-grid, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 1.5;
  }
  .button {
    margin: 10px;
  }
}
.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 10px 60px;
  font-size: 20px;
  //   text-transform: uppercase;
  font-weight: 800;
  //   letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  &::after {
    transition: background-color 0.2s ease;
    position: absolute;
    content: "";
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: darken($accent, 50%);
    opacity: 0.18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
  }
  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 5%);
    &::after {
      opacity: 0.22;
    }
  }
  &:active {
    background-color: darken($accent, 5%);
  }
  &::after {
    opacity: 0.32;
  }
  &.button-gray {
    background-color: $gray;
    &:hover {
      background-color: lighten($gray, 5%);
      &::after {
        opacity: 0.22;
      }
    }
  }
}
.portfolio-section {
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.portfolio-item {
  min-height: 32vh;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  transition: color 0.5s ease;
  cursor: pointer;
  &:hover {
    color: $accent;
    &::before {
      opacity: 0.85;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $dark;
    transition: opacity 0.5s;
    opacity: 0.65;
  }
  > span {
    z-index: 1;
  }
  &:nth-child(1) {
    grid-column: 1/3;
  }
  &:nth-child(5) {
    grid-column: 2/4;
  }
  &:nth-child(6) {
    grid-column: 4;
    grid-row: 2/4;
  }
}
.buttoncase {
  grid-column: 1/5;
  padding: $gutter $gutter 50px;
}

// Landing-Section
.landing-section {
  padding: 80px 0;
  h2 {
    font-size: 34px;
    font-weight: 800;
    color: $dark;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
.section-ready {
  background-color: $light;
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .ready-left {
    border-right: 1px solid #dadada;
    font-size: 1.1rem;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
  }
  .ready-right {
    padding-left: 40px;
  }
}
// FORM_SECTION

.form-section {
  padding: 30px 0;
  background-color: $dark;
  input {
    background-color: lighten($dark, 6%);
  }
  form {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  button {
    font-size: 17px;
    font-weight: 800;
    padding: 14.5px;
    width: 100%;
  }
}
input,
textarea {
  border: none;
  padding: 15px 20px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-style: italic;
  outline: none;
  transition: background-color 0.25s ease;
  &:focus {
    background-color: $light;
  }
  &::placeholder {
    color: lighten($dark, 20%);
  }
}
// Home-Blog
.section-blog {
  h2 {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .buttoncase {
    padding-bottom: 0;
  }
}
.blog-home {
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.blog-item {
  background-color: #f7f7f7;
  grid-template-rows: 1fr 1fr;
  transition: background-color 0.25s ease;
  overflow: hidden;
  color: #333;
  &:nth-child(3) {
    grid-column: 3/5;
  }
  &:nth-child(4) {
    grid-column: 1/3;
  }
  &:hover {
    background-color: $light;
    h4 {
      color: $dark;
    }
    .blog-item-img {
      transform: scale(1.05) translateY(-6.5px);
    }
  }
  .blog-item-img {
    height: 270px;
    background-size: cover;
    background-position: center;
    transition: transform 0.25s ease;
  }
  .blog-item-content {
    padding: 25px;
    text-align: center;
    align-content: center;
  }
  h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #666;
    line-height: 1.3;
    transition: color 0.25s ease;
  }
  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
// Footer
.main-footer {
  padding: 60px 0;
  background-color: darken($dark, 8%);
  text-align: center;
  color: #4e5355;
  .footer-log {
    font-family: intro-grid, sans-serif;
    font-size: 22px;
    line-height: 1.16;
    span {
      display: block;
      color: #707476;
      font-size: 27px;
    }
  }
  .footer-copy {
    font-size: 20px;
    font-weight: bold;
    color: #494d50;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .blog-home {
    grid-template-columns: repeat(3, 1fr);
    .blog-item {
      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1;
      }
      &:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2;
      }
    }
  }
  .buttoncase {
    grid-column: 1/4;
  }
}

@media only screen and(max-width:992px) {
  .header-content {
    h1 {
      line-height: 1.3;
    }
  }
  .button {
    font-size: 18px;
  }
  .buttoncase {
    grid-column: 1/4;
  }
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr);

    .portfolio-item {
      min-height: 40vh;
      font-size: 16px;
      &:nth-child(1) {
        grid-column: 1/3;
      }
      &:nth-child(4) {
        grid-column: 2/4;
      }
      &:nth-child(5) {
        grid-column: 1/3;
        grid-row: initial;
      }
      &:nth-child(6) {
        grid-column: initial;
        grid-row: initial;
      }
    }
  }
  .blog-home {
    grid-template-columns: repeat(2, 1fr);
    // .blog-item {
    //   &:nth-child(3) {
    //     grid-column: 2/2;
    //   }
    // }
  }
  .buttoncase {
    grid-column: 1/3;
  }
}
@media only screen and(max-width:768px) {
  .header-content {
    padding: 40px 20px;
    h1 {
      font-size: 50px;
    }
  }
  .landing-section {
    padding: 50px 0;
    h2 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 26px;
    }
    .container {
      grid-template-columns: 1fr;
      > div {
        padding: 0 8%;
        &.ready-left {
          border: none;
        }
      }
    }
    .blog-home {
      grid-template-columns: 1fr;
      .blog-item {
        &:nth-child(3) {
          grid-column: initial;
        }
        &:nth-child(4) {
          grid-column: initial;
        }
      }
      .buttoncase {
        grid-column: 1/2;
      }
    }
  }
  .form-section {
    form {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header-content {
    h1 {
      font-size: 40px;
    }
  }
  .portfolio-section {
    grid-template-columns: 1fr;

    .portfolio-item {
      min-height: 50vh;
      &:nth-child(1) {
        grid-column: initial;
      }
      &:nth-child(4) {
        grid-column: initial;
      }
      &:nth-child(5) {
        grid-column: initial;
      }
    }
  }
  .buttoncase {
    grid-column: 1/2;
  }
  .form-section {
    form {
      grid-template-columns: 1fr;
    }
  }
}
