body{
	margin: 0;
	padding: 0;
	
}
body a{
	color: black;
	text-decoration: none;
}
@font-face{
	font-family: "arek-boldItalic";
	src:url("․․/fonts/bolditalic/arek-boldItalic.eot");
	src:url("․․/fonts/bolditalic/arek-boldItalic.eot?#iefix")format("eot"),
	url("․․/fonts/bolditalic/arek-boldItalic.ttf")format("truetype"),
	url("․․/fonts/bolditalic/arek-boldItalic.woff")format("woff");
    
}
.home-page{
	width: 100%;
	background-color: black;
	background-size: 100%;
	height: 1000px;
	text-align: center;
	position: relative;
	font-family: "arek-boldItalic",san serif;

}
.header-block{
	background-color: rgba(0, 0, 0, 0.6509803921568628);
	position: fixed;
	 z-index: 1;
	 width: 100%;
}
.nav-panel{
	display: inline-block;
	width: 45%;
}
#menu li{
	list-style: none;
	display: inline-block;

}
#menu li a{
	text-decoration: none;
	color: #A29C9C;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	padding: 14px 20px;
	overflow: hidden;
	transition: 0.7s all;
	display: block;
}
.header-block .logo{
	display: inline-block;
	width: 50%;
	position: relative;
}
.header-block .logo a{
	color: #EEE6E6;
	text-decoration: none;
	font-size: 30px;
	font-weight: 600;
	position: absolute;
	bottom: 12px;
	left: 20px;
}
#menu li a:hover{
	color: white;
}
.home-page .facebook{
	width: 5%;
	height: 160px;
	background-color: rgba(0, 0, 0, 0.6509803921568628);
	position: fixed;
	top: 30%; 
	right: 0px;
	z-index: 40; 
	text-align: center;




}
.home-page .facebook li{
	list-style-type: none;
}
.home-page .facebook i{
	color: white;
	font-size: 30px;
	position: relative;
	line-height: 40px;
	right: 50%;
	transform: translate(-50%,-50%);
}
.home-page h1{
	color: white;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.home-page .back-shop{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	margin-top: 200px;
}
.home-page .back-shop .bckp-block{
	width: 20%;
}
.home-page .back-shop .bckp-block .bckps1{
	background-image: url(../img/myfirstsite/u1.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop .bckp-block .bckps1 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
	/*visibility: hidden;*/
	
}
.home-page .back-shop .bckp-block .bckps1 .txt:hover{
	/* visibility: visible;*/
	 background-color: white;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	color: black;
}
.home-page .back-shop .bckp-block2{
	width: 20%;
}
.home-page .back-shop .bckp-block2 .bckps2{
	background-image: url(../img/myfirstsite/u2.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop .bckp-block2 .bckps2 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
}
.home-page .back-shop .bckp-block3{
	width: 20%;
}
.home-page .back-shop .bckp-block3 .bckps3{
	background-image: url(../img/myfirstsite/u3.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop .bckp-block3 .bckps3 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
}
.home-page .back-shop2{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
}
.home-page .back-shop2 .bckp-block4{
	width: 20%;
}
.home-page .back-shop2 .bckp-block4 .bckps4{
	background-image: url(../img/myfirstsite/u4.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop2 .bckp-block4 .bckps4 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
}
.home-page .back-shop2 .bckp-block5{
	width: 20%;
}
.home-page .back-shop2 .bckp-block5 .bckps5{
	background-image: url(../img/myfirstsite/u5.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop2 .bckp-block5 .bckps5 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
}
.home-page .back-shop2 .bckp-block6{
	width: 20%;
}
.home-page .back-shop2 .bckp-block6 .bckps6{
	background-image: url(../img/myfirstsite/u6.jpg);
	width: 100%;
	height: 300px;
	background-size: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}
.home-page .back-shop2 .bckp-block6 .bckps6 .txt{
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 10px;
	color: black;
}

.footer-block{
	color: #A29C9C;
	background-color: #1A1919;
	margin: 0;
	text-align: center;
	padding: 3%;
	font-size: 20px;
}
.footer-block  a{
	color: #A29C9C;
}
.footer-block div:nth-child(1){
	display: inline-block;
	margin-right: 50px;

}

.footer-block div:nth-child(2){
	display: inline-block;
	margin-left: 50px;
}