* {
  font-family: "Baloo Bhai", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-body {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  /* flex-direction: column; */
  /* width: 100%;
    background-image: url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; */
}
.search-table {
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  background-color: white;
  /* border: 1px solid red; */
}
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
